*{
  box-sizing: border-box;
}
body{
  margin: 0;
  box-sizing: border-box;
}
#heading{
  background-color: red;
  padding: 15px;
}
#head1{
  color: white;
  text-align: center;
}
#head2{
  color: darkblue;
  font-size: 1.6em;
  float: left;
  width: 50%;
}
#find{
  background-color: #07374c;
  border: 2px solid;
  height: auto;
  border-radius: 10px;
  box-shadow: 5px 5px 15px;
  float: left;
}
#head3{
  color: darkblue;
  padding: 2px;
   font-size: 1.6em;
   text-align: right;
}
#p1{
  font-style: italic;
  color: whitesmoke;
}
#reg{
  background-color: blueviolet;
  border: 2px solid;
  padding: -5px;
  height: auto;
  border-radius: 10px;
  box-shadow: 5px 5px 15px;
  float: right;
}
