
h1{
  text-align: center;
  background-color: purple;
  color: ghostwhite;
}
h3{
  color: darkblue;
  text-align: center;
  padding: 10px;
  font-size: 1.5em;
}
a{
  text-decoration: none;
  color: floralwhite;
}
#reg{
  background-color: cadetblue;
  border: solid;
  width: 175px;
  height: auto;
  border-radius: 10px;
  box-shadow: 5px 5px 15px hotpink;
  float: left;
}
#reg2{
  background-color: cadetblue;
  border: solid;
  padding: 1px;
  width: 175px;
  height: auto;
  border-radius: 10px;
  box-shadow: 5px 5px 15px hotpink;
  float: right;
}
#img1{
  border-radius: 25px;
  padding: 10px;
}
#img2{
  border-radius: 25px;
  padding: 10px;
}
